.page-title {
  font-size: 26px;
  line-height: 40px;
}
.card-content {
  margin-top: 10px;
}
.form-content {
  max-width: 900px;
}

.form-tips {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  margin-left: 10px;
  font-size: 14px;
  color: #2d8cf0;
}


.form-item-center {
  position: relative;
  /deep/ .ivu-form-item-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
